ProyectoExito/Aplicacion/Consola/bin
ProyectoExito/Aplicacion/Consola/obj
ProyectoExito/Aplicacion/Presentacion/bin
ProyectoExito/Aplicacion/Presentacion/obj
ProyectoExito/Aplicacion/Persistencia/bin
ProyectoExito/Aplicacion/Persistencia/obj
ProyectoExito/Aplicacion/Dominio/bin
ProyectoExito/Aplicacion/Dominio/obj