@page
@model Presentacion.Pages.CrudEmpleado.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Empleado</h4>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Empleado.Nombre" class="control-label"></label>
                <input asp-for="Empleado.Nombre" class="form-control" />
                <span asp-validation-for="Empleado.Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Empleado.Apellidos" class="control-label"></label>
                <input asp-for="Empleado.Apellidos" class="form-control" />
                <span asp-validation-for="Empleado.Apellidos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Empleado.Cedula" class="control-label"></label>
                <input asp-for="Empleado.Cedula" class="form-control" required/>
                <span asp-validation-for="Empleado.Cedula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Empleado.CodigoEmpleado" class="control-label"></label>
                <input asp-for="Empleado.CodigoEmpleado" class="form-control" />
                <span asp-validation-for="Empleado.CodigoEmpleado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Empleado.NombreRol" class="control-label"></label>
                <select asp-for="Empleado.NombreRol" class="form-control">
                    <option value="0">ADMINISTRADOR_COMPRAS</option>
                    <option value="1">ADMINISTRADOR_VENTAS</option>
                    <option value="2">ADMINISTRADOR_SISTEMA</option>
                    <option value="3">VENDEDOR</option>
                    <option value="4">USUARIO</option>
                </select>
                <span asp-validation-for="Empleado.NombreRol" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Empleado.usuario" class="control-label"></label>
                <input asp-for="Empleado.usuario" class="form-control" />
                <span asp-validation-for="Empleado.usuario" class="text-danger">@Model.usuarioCreado</span>
            </div>
            <div class="form-group">
                <label asp-for="Empleado.password" class="control-label"></label>
                <input asp-for="Empleado.password" class="form-control" />
                <span asp-validation-for="Empleado.password" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Empleado.accesoReportes" /> @Html.DisplayNameFor(model => model.Empleado.accesoReportes)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Empleado.Sucursal" class="control-label"></label>
                <select asp-for="Empleado.Sucursal" class="form-control" asp-items="Model.SucursalesFront">
                    <option>Seleccione una sucursal</option>
                </select>
                <span asp-validation-for="Empleado.Sucursal" class="text-danger"></span>
            </div>  
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
